<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription</h1>
<form method="post" action="/signup">
    <label>Nom d'utilisateur :</label>
    <input type="text" name="username" required>
    <br>
    <label>Email :</label>
    <input type="email" name="email" required>
    <br>
    <label>Mot de passe :</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">S'inscrire</button>
</form>
<a href="./login.html">
    <button type="button">Retour à la connexion</button>
</a>
</body>
</html>
